.planet {

}
.earth {
    background-color: black
}
.mars {
    background-color: hotpink
}
.uranus {
    background-color: yellow
}
.venus {
    background-color: rebeccapurple
}
.jupiter {
    background-color: teal
}
.neptune {
    background-color: greenyellow
}
.saturn {
    background-color: red
}
.mercury  {
    background-color: blue
}
